@charset "utf-8";
/* CSS Document */
id{
	font-family: '맑은 고딕';
	color: #443ef3;
	font-size: 30px;
	font-weight: bold;
	background-color: orange;
}
#main{
	font-family: '맑은 고딕';
	font-size: 17px;
	min-width: 200px;
	justify-content: center;

}

img {
	max-width: 100%;
	width: 100%;
	min-width: 100px;
}

hr { /*hr태그 두께 설정*/

	border: 0;
	height: 5px;
	background: #2FC7B6;
}

.text-form {
	display: inline-block;
	width: 30%;
	height: 5px;
	padding: 10px 10px;
	font-size: 15px;
	color: royalblue;
	font-weight: bold;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset  1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.comment-form {
	padding: 12px 12px 12px;
	background: #fafafa;
	border-top: 2px solid #525eaa;
	border-bottom: 2px solid #525eaa;
	overflow: hidden;
}

.user-info-form {
	width: 140px;
	height: 30px;
	margin-top: 5px;
	border: 1px solid #cecdce;
	background: #f3f3f3;
}

.comment {
	border: 2px solid #b2dba1;
}

#wrapper {
	display: table;
}

#cell {
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;
}

.cmt-writer-box {
	float: left;
	width: 132px;
	margin-right: 33px;
	margin-top: 3px;
}

.cmt-content-box {
	float: left;
}

.comment-box {
	border-top: 2px solid #525eaa;
	border-bottom: 2px solid #525eaa;
	overflow: hidden;
}

.comment-wrap {
	overflow: hidden;
	width: 100%;
	font-size: 13px;
	color: #333;
	display: inline-block;
}

.view-table-bordered {
	border-top: 2px solid #b2dba1;
	border-bottom: 2px solid #b2dba1;
}

.view-table-bordered > thead {
	font-size: 30px;
	border-top: 2px solid #b2dba1;
	border-bottom: 3px solid #b2dba1;
}

.view-table-bordered > tbody {
	font-size: 20px;
}

.view-table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.delete-bt {
	background-color: #f8585b;
	border: none;
	color: #fff;
	padding: 0 5px 0 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 5px;
	margin: 4px;
}

.hidden-bt {
	background-color: #fff;
	border: none;
	color: #fff;
	padding: 0 5px 0 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 5px;
	margin: 4px;
}